<form action="/random/results">
  <p><label for="random_min">Minimum</label></p>
  <p><input type="text" id="random_min" name="minimum" placeholder="E.g. 1.5"></p>

  <p><label for="random_max">Maximum</label></p>
  <p><input type="text" id="random_max" name="maximum" placeholder="E.g. 1.5"></p>

  <p><button>Pick random number</button></p>
</form>
