
<form action="/square/results">
  <p><label for="square_input">Enter a number</label></p>
  <p><input type="text" id="square_input" name="number"></p>
  <p><button>Calculate square</button></p>
</form>
