<form action="/square_root/results">
  <p><label for="square_root_input">Enter a number</label></p>
  <p><input type="text" id="square_root_input" name="number" placeholder="What number do you want to take the square root of?"></p>
  <p><button>Calculate square root</button></p>
</form>
